.Add-Car-Heading{
  text-decoration: underline solid red;
  font-size: 24px;
  color: black;
  text-align: center;
}
.add_car{
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 0px;
  background-color: white;
  border: 2px solid red;
  margin: auto;
  
}
.add-car-form-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
  }
  
  .input-field {
    margin-bottom: 8px;
    background-color: white;
    color: black;
    padding: 0;
  }
  
  .submit-button {
    background-color: black;
    color: white;
   
  }
  
  .submit-button:hover {
    background-color: red;
  }
  