


.Add-Car-Heading{
  
  font-size: 24px;
  color: black;
  text-align: center;
}
.add_car {
  display: flex;
  flex-direction: column;
  padding: 0px;
  background-image: url('/images/addcarpic.jpg');
  background-position: 30% center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; 
  opacity: 0.8;
}

.add_car_form{

  margin-left: 18.4%;
  overflow: auto;
padding-top: 60px;
 
}
.add-car-form-container { 
  min-height: 550px;
  width: 55%;
  height: 100%;
  min-width: 350px;
 
  margin-top: 20px;
  margin-right: 350px;
  margin-left: 25%;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  float: left;
  background-color: rgba(255, 255, 255, 0.651);
  color: black;
  overflow: auto;
}

  
  
  .input-field {
   
    background-color: rgba(255, 255, 255, 0.614);
    color: black;
    width: auto;
    background-color: transparent;
    
  }
  .input{
    background-color: rgba(255, 255, 255, 0.614);
    color: black;
    width: auto;
    background-color: transparent;
    margin-top: 30px;

  }
  .submit-button {
    background-color: black;
    color: white;
  }

  .vin{
    color: black;
    margin-right: 40px;
    margin-left: 20px;
  }

  .model{
    color: black;
    margin-right: 40px;
    margin-left: 10px;
  }
  .make{
    color: black;
    margin-right: 40px;
  }
  .color{
    color: black;
    margin-right: 40px;
    margin-left: 12px;
  }
  .picture{
    color: black;
    margin-right: 40px;
    margin-left: 12px;
    
  }
  .mileage{
    color: black;
    margin-right: 40px;
  }
  .price{
    color: black;
    margin-right: 40px;
  }
  .year{
    color: black;
    margin-right: 40px;
  }
  /* .navbar{
    background-color: black;
    position: fixed;
  } */
  .submit-button:hover {
    background-color: red;
  }

  .add-car-button {
    position: relative;
    display: inline-block;
   
    color: #232323;
    padding: 10px;
    border: none;
    text-decoration: none;
    border-radius: 50%;
    transition: background-color 0.3s;
  }
  
 
  
  .icon {
    font-size: 32px; 
  }
  
  .text {
    position: absolute;
    top: 80%;
    left: 82%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .add-car-button:hover .text {
    opacity: 1;
  }
  @media screen and (max-width: 1024px) {
    .add-car-form-container { 
      width: 70%;
      margin-right: auto;
      margin-left: auto;
    }
    .add_car_form {
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media screen and (max-width: 768px) {
    .add-car-form-container { 
      width: 80%;
      margin-right: auto;
      margin-left: auto;
    }
    .add_car_form {
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media screen and (max-width: 600px) {
    .add-car-form-container { 
      width: 95%;
      margin-right: auto;
      margin-left: auto;
    }
    .add_car_form {
      margin-left: auto;
      margin-right: auto;
    }
  }