.car-info {
  border: 2px solid black;
  background-color: white;
  padding: 20px;
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerCarEdit {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1a1919;
  padding-top: 60px;
  margin-block-start: 20px;
  margin-left :150px;
}
.edit_car_form {
  width: 100%;
  max-width: 600px;
  height: 80%;
  color: aliceblue;
  background: #ffffff;
  border-radius: 3px;
  border: solid #000000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 120px;
  margin-left :350px;
  margin-top: 50px;
}

.Edit-Car-Heading {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
}

.inputs_margin {
  margin-bottom: 60px;
  margin-right: 50px;

}
.labelcaredit {
  font-weight: bold;
  color: #000000;
 
  margin-left: 100px;
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 2px;
}
.picturecaredit {
  display: block;
  margin-top: 20px;
  color: #000000;
}

.picturecaredit input[type="file"] {
  border-color: #000000;
}

.picturecaredit .labelcaredit {
  color: #000000;
}
.car-info label {
  font-weight: bold;
  margin-right: 10px;

}

.car-info input {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid black;
}

.car-info button {
  background-color: #7a0319;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
}

.car-info button:hover {
  cursor: pointer;
  background-color: #7a0319;
}

.car-info h2 {
  color: #7a0319;
  font-size: 24px;
  margin-bottom: 20px;
}
.car-display {
  border: 2px solid black;
  background-color: white;
  padding: 20px;
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-display h2 {
  color: black;
  text-align: center;
}

.car-display table {
  border-collapse: collapse;
  margin-top: 10px;
}

.car-display th,
.car-display td {
  padding: 10px;
  border: 1px solid black;
}

.car-display th {
  background-color: #7a0319;
  color: white;
}

.car-display td {
  text-align: center;
}

.edit-car-button {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.TitleEditCar{
   text-decoration : underline solid #7a0319;
   font-size: 30px;
  text-align: center;
}
