@import './auth.css';
@import './homescreen.css';
@import './Navbar.css';
@import './Sidebars.css';
<<<<<<< HEAD
@import './dashboard.css';



.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding: 0%;
  border-image-width: 1090px;
  overflow: hidden;
    
}

.photo-strip {
  display: block;
  width: 100%;
  height: auto;
  background-image: url("../images/pic.jpeg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;}

 
.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
}

.authButtons {
  display: flex;
  flex-direction: row-reverse;
  gap: 3%;
  width: 100%;
}
=======
@import './SalesInfoPage.css';
>>>>>>> 5e059fdef7e3af4b0f97a5d1e903313cfb4f874e
