.navbar {
  display: flex;
  /* gap: 5%; */
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
 
}
.dashNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 9999;

}


/* .navbar li {
  width: 10%;
} */

.navbar li a {
  font-size: 0.9rem;
  font-family: 'Poppins' ;
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 0.4rem 0.5rem;
  text-decoration: none;
  text-size-adjust: 7;
}

.navbar li a:hover {
  background-color: #454545; 
}

.navbar > ul{
  /* position: absolute; */
  list-style: none;
  display:inline-flex;
  padding: 0;
  margin: 0;
}

.navbar > ul > li{
  margin: 0 max(10px, 3vw) 0 max(10px, 3vw);
}




 