.Dashboardproducts{
  margin-left: 20%;
  height: 100%;
padding-top: 60px;

  
 
}
.Productheader{
  padding-top: 10%;
    font-size:50px;
    font-family: 'Segoe UI', 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
    align-items: center;
    
}

.lists{
  background-color: #232323;
}
.ProdHead{
 
background-color: black; 
}



.ProdPLogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 177px;
}
.ant-input{
    margin-top: 11.75px;
}


.ProductsPageCont{
  background-color: #232323;
}
.homepageLogo{
    /* width: 100%; */
    height: 80%;
    margin: 0 auto 0 auto; ;
    /* margin-top: 10%; */
  }
  
  /* for thr dropdown menu for login/ sign up */
  
  .dropdown {
    float: left;
    overflow: hidden;
    margin-bottom:100px;
  }
  .edit-icon {
    color: black;
  }
  .dropbtnProdPage {
    font-size: 1rem;  
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
    font-family: Poppins;
    margin: inherit;
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 120px;
    margin-right: 40px;
  }
  
  .dropdown-content-ProdPage {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }
  
  .dropdown-content-ProdPage a {
    float: none;
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: center;
    text-decoration: none;
  }
  
  
  .dropdown:hover .dropdown-content-ProdPage {
    display: block;
    margin-top: -140px;
    font-family: 'Poppins';
  }
  
  .arrowLogin {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
  }
  .date-picker-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
    width:5rem;
    font-size: 16px;
    
 
  }
  myInput{
    width: 200px;
    
  }
  .pleasebeblack2{
    color: #000;
    font-size: 16px;
    margin-bottom: 25px;
    margin-left: 100px;
    max-width: max-content;}

    .pleasebeblack3{
      color: #000;
      font-size: 16px;
      margin-bottom: 25px;
      margin-left: 85px;
    
  }
  .date-picker-container .testDriveLabel {
    margin-right: 0px; /* adjust as needed */
    width:100%;
    margin-left: 5px;

  }
  .testDriveLabel{
    margin-left: 2.5px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .dropdown-content-ProdPage a:hover {
    background-color: #ddd;

  }
  

  .testb{
    margin-right: 200px;
    width: 6px; 
    height: 40px; 
    padding: 8px;
  
    font-size: 14px;
  }

  .Search{
    background-color: #232323;
  }

/*FILTER FUNCTION COLLAPSIBLE BUTTON */
.filter collapsible {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 20%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.filter active, .collapsible:hover {
  background-color: red;
}

.filter collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.filter active:after {
  content: "\2212";
}

.filter content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
 
