.sales-info-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.sales-info-heading {
  text-decoration: underline solid red;
  font-size: 24px;
}
.sales-info-table thead th {
  background-color: black;
  color: white;
}

.sales-info-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.sales-info-table th,
.sales-info-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

.sales-info-table th {
  font-weight: bold;
}

.sales-info-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: #fff;
  cursor: pointer;
}

.sales-info-button:hover {
  background-color: red;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto; /* Push the header to the bottom */
  text-align: center; /* Center the text horizontally */
  color: black;
}

.header-container h6 {
  margin-left: 334px; /* Add some spacing between the icon and the text */
  color:black;
  font-size: 13.25px;
  font-weight: normal; /* Remove the bold style */
  text-decoration: underline; /* Add an underline */
}
