.user-info-page .user-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user-info-page .avatar {
  width: 50px;
  height: 50px;
  font-size: 24px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 20px;
}

.user-info-page .name {
  font-size: 32px;
  color: black;
  margin-bottom: 20px;
}

.user-info-page .info-paper {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 30px;
  background-color: white;
  border: 2px solid red;
}

.user-info-page label {
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
}

.user-info-page input[type="email"],
.user-info-page input[type="tel"],
.user-info-page textarea {
  width: 100%;
  padding: 10px;
  background-color: black;
  border-radius: 5px;
  margin-bottom: 20px;
  color: white;
}

.user-info-page button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease;
  
}

.user-info-page button:hover {
  background-color: red;
  color:white;
}